* {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  
}

.copy {
 
  background-size: contain;
  width: 0px;
  height: 0px;
  cursor: -webkit-grab;
  will-change: transform;
  user-select: none;
  z-index: 1;
}

.placeHolder {
  
  
  background-size: contain;
  width: 100px;
  height: 100px;
  cursor: -webkit-grab;
  will-change: transform;
  user-select: none;
  z-index: 1;
}


#root > div:active {
  cursor: -webkit-grabbing;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgb(66, 66, 66);
  color: white;
  text-align: center;
}

.grievous {
  background: url(./grievous2.png) no-repeat;
  position: center;
  left: 0;
  bottom: 0;
  
  width: 100%;
  height: 100%;
  
  /* text-align: center; */
}

.green{
  background: url(./arm2.png) no-repeat;
  position: center;
  left: 0;
  bottom:0;
  width: 100px;
  height: 275px;
  text-align: center;
  z-index: 1;
}

.rot2{
  background: url(./arm2_left.png) no-repeat;
  position: center;
  left: 0;
  bottom:0;
  width: 100px;
  height: 275px;
  text-align: center;
  transform:scaleX(-1);
}

.red{
  background: url(./arm2_red.png) no-repeat;
  position: center;
  left: 0;
  bottom:0;
  width: 100px;
  height: 275px;
  text-align: center;
  transform:scaleX(-1);
}
  
.flip{
  transform: rotateY(180deg);
}
  
.left{
  float:left
}

.right{
  float:right
}
  
.test{
  background-color: blue;
  position: center;
  left: 0;
  bottom:0;
  width: 200px;
  height: 200px;
  text-align: center;
}
  
.test2{
  background-color: rgb(255, 0, 0);
  position: center;
  left: 0;
  bottom:0;
  width: 200px;
  height: 200px;
  text-align: center;
}







